* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #36BDD9;
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

form {
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
}

form .input-block {
    margin-bottom: 20px;
}

form .input-block label {
    font-size: 14px;
    color: #000;
}

form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #36BDD9;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
}

form .btn-login {
    
}