/* GERAL */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.container {
    width: 70%;
    margin: 0 auto;
}


.subtitulo {
    font-size: 3em;
    text-align: center;
    color: #3B88C3;
    margin-bottom: 15px;
    padding: 15px 0;
}

.padding-vertical {
    padding: 20px 0 10px 0;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3em;
    background: linear-gradient(135deg, #3B88C3, #4fb3ff);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 15px;
}

.link-login {
    display: block;
    font-size: .5em;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

/* MAIN */
.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2.5em;
}

.vantagens {
    display: block;
    padding: 30px;
}

.vantagens ul {
    margin-bottom: 50px;
}

.vantagens ul li {
    margin-bottom: 25px;
}

.vantagens ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.saiba-mais {
    padding: 15px;
    background-color: #36BDD9;
    color: #fff;
    font-weight: normal;
    border-radius: 10px;
    align-self: flex-end;
}

.leia-sobre {
    font-weight: bold;
    color: black;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 1px;
}

.leia-sobre:hover {
    font-weight: normal;
    background-color: #f7f7f7;
    text-decoration: underline;
}

.saiba-mais:hover {
    font-weight: bold;
}

/* SECTION */
.titulo-section {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3.5em;
    background-color: #34CFBF;
    color: #fff;
    padding: 20px 0;
    margin: 15px 0;
    text-transform: uppercase;
    border-radius: 20px;
}

.mais-faladas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
}

.mais-faladas ol {
    margin-bottom: 15px;
}

.mais-faladas .pais {
    line-height: 40px;
}

.mercado-trabalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.6em;
    background: linear-gradient(135deg, #3B88C3, #4fb3ff);
    color: #fff;
    padding: 20px 0;
    margin-top: 30px;
}